nav.navigation
  ul.navigation__list
    li
      a(href='#')
        | Каталог
    li
      a(href='#')
        | Модульная система
    li
      a(href='#')
        | О нас
    li
      a(href='#')
        | Контакты