nav#navigation.site__navigation.navigation.hidden_type_min-md
  a.custom-logo-link(href="#")
    img.custom-logo(src='assets/images/logo-black.png' loading="lazy" alt="Студия авторской мебели WheelHouse")
  ul.navigation__list
    li.navigation__img
      a(href='#')
        | Каталог
      ul
        li
          a(href='#')
            img(src="assets/images/main.jpg"  loading="lazy" alt="Студия авторской мебели WheelHouse")
            span
              | Мяткие стеновые панели
        li
          a(href='#')
            img(src="assets/images/nav.jpg"  loading="lazy" alt="Студия авторской мебели WheelHouse")
            span
              | Диваны
        li
          a(href='#')
            img(src="assets/images/nav.jpg"  loading="lazy" alt="Студия авторской мебели WheelHouse")
            span
              | Диваны
        li
          a(href='#')
            img(src="assets/images/nav.jpg"  loading="lazy" alt="Студия авторской мебели WheelHouse")
            span
              | Диваны
        li
          a(href='#')
            img(src="assets/images/nav.jpg"  loading="lazy" alt="Студия авторской мебели WheelHouse")
            span
              | Диваны
        li
          a(href='#')
            img(src="assets/images/nav.jpg"  loading="lazy" alt="Студия авторской мебели WheelHouse")
            span
              | Диваны
        li
          a(href='#')
            img(src="assets/images/nav.jpg"  loading="lazy" alt="Студия авторской мебели WheelHouse")
            span
              | Диваны
        li
          a(href='#')
            img(src="assets/images/nav.jpg"  loading="lazy" alt="Студия авторской мебели WheelHouse")
            span
              | Диваны
        li
          a(href='#')
            img(src="assets/images/nav.jpg"  loading="lazy" alt="Студия авторской мебели WheelHouse")
            span
              | Диваны
        li
          a(href='#')
            img(src="assets/images/nav.jpg"  loading="lazy" alt="Студия авторской мебели WheelHouse")
            span
              | Диваны
        li
          a(href='#')
            img(src="assets/images/nav.jpg"  loading="lazy" alt="Студия авторской мебели WheelHouse")
            span
              | Диваны
        li
          a(href='#')
            img(src="assets/images/nav.jpg"  loading="lazy" alt="Студия авторской мебели WheelHouse")
            span
              | Диваны
    li
      a(href='#')
        | Суперцена
    li
      a(href='#')
        | Нестандартные решения
    li
      a(href='#')
        | Материалы
    li
      a(href='#')
        | WH-конфигуратор
    li
      a(href='#')
        | Услуги
      ul
        li
          a(href='#')
            | Выезд на обмер
        li
          a(href='#')
            | Подбор материала на объекте
        li
          a(href='#')
            | Дизайн проект и визуализация
        li
          a(href='#')
            | Дизайн интерьера
    li
      a(href='#')
        | Компания
      ul
        li
          a(href='#')
            | О нас
        li
          a(href='#')
            | Сотрудничество
        li
          a(href='#')
            | Покупателям
        li
          a(href='#')
            | Портфолио
        li
          a(href='#')
            | Наши партнёры
        li
          a(href='#')
            | Контакты