.wpcf7-not-valid-tip
  font-family titleItalicFont!important
  font-size 13.5px!important
  line-height 1!important
.wpcf7-mail-sent-ok
.wpcf7-validation-errors
  border: 2px solid themeColor!important
  font-family titleItalicFont!important
  font-size 13.5px!important