.pillar__link
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size subtitleSize
  a
    color accentColor
    text-decoration underline
  a:hover
    color accentColor
    text-decoration underline