.podushki__button
  background: themeColor
  color: lightColor;
  padding: 10px 30px;
  border-radius: 5px;
  margin: 45px 0 15px;
  width: 100%;
  max-width: 300px;
  text-transform: uppercase;
  text-align center
  cursor pointer