doctype html
html
  include ../includes/head/head.pug
  body.body
    .site
      include ../includes/header/header.pug
      .site__content.content
        block site__content
      include ../includes/footer/footer.pug
    script(src='libs/js/jquery.min.js')
    script(src='assets/js/common.min.js')
    
