.product__sidebar-selection
  display flex
  margin-bottom: 20px;
.product__sidebar-option
  padding: 10px
  margin-right 3px
  background accentOverlay
  color lightColor
  cursor pointer
  display: flex;
  align-items: center;
  font-size 12px
  @media only screen and (min-width: xs)
    font-size baseSize
    padding: 10px 15px
.product__sidebar-option.active
  background accentdarkOverlay
  cursor auto