.product__description
  width 100%
  padding 0 15px
  @media only screen and (min-width: sm)
    width 50%
    padding 0 0 0 50px
  .description
    padding 0 0 15px
    a
      color accentColor
      text-decoration underline
    ul
      padding: 0 0 0 20px;