.product__color
  margin-bottom: 15px;
  display: block;
  @media only screen and (min-width: xs)
    display: flex;
.product__color-name
  text-transform uppercase
  float: left;
  padding-right: 5px;
  @media only screen and (min-width: xs)
    width: 150px;
    float none
    padding inherit
.product__color-description
  display inline
  a
    text-decoration underline
    color accentColor
  @media only screen and (min-width: xs)
    width: calc(100% - 150px);