.product__specification
  display flex
  flex-direction: column;
  margin-top: 15px;
  @media only screen and (min-width: sm)
    flex-direction: row;
    .product__specification-name
      width 350px
    