.product__meta
  padding 15px 0
.product__meta-title
  margin 5px 0
  text-transform uppercase
  font-family subtitleFont
  a
    text-transform none
    color accentColor
    text-decoration underline
  span
    text-transform: none;
    color: #627597;