.product__variation
    display: inline-block;
    outline: 1px solid #ddd;
    padding: 2px;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor pointer
    position relative
.product__variation:hover
  outline-color: accentColor
.product__variation.active
  outline-color: accentColor
.product__variation.active:after
  content "\2713"
  position absolute
  color accentColor
  top 0
  right 0
  font-size 20px
.product__variation.active .product__variation-text
  opacity 0.5
.product__variation.active img
  opacity 0.5
.product__variation.selected.add
  outline: 1px solid #ddd;
.product__variation.selected.add .product__variation-text
  opacity 1
.product__variation.selected.add img
  opacity 1
.product__variation.selected.add:after
  position relative
  content ""
.product__variation.selected.add.choice
  outline-color: accentColor
.product__variation.selected.add.choice:after
  content "\2713"!important
  position absolute!important
  color accentColor
  top 0
  right 0
  font-size 20px
.product__variation.selected.add.choice img
  opacity 0.5!important
.product__variation.selected.add.choice .product__variation-text
  opacity 0.5!important
.product__variation-text
  min-width: 70px;
  padding: 0 10px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: titleFont;
  font-size: 9px;
  background: headerColor;
  color: lightColor;
.product__variation-choice
  width: calc(100% - 110px);
  cursor pointer
  margin 5px 0
  border: 1px solid headerColor;
  padding 5px 5px 0
  line-height 1.4
  position relative
  font-size: 10px;
  @media only screen and (min-width: xs)
    width: calc(100% - 150px);
    font-size: 13px;
.product__variation-choice span:first-child
  display: inherit;
  margin: -5px;
  padding: 5px;
.product__variation-select
  border-top: 1px solid headerColor;
  margin 5px -5px 0 -5px
  padding 5px 5px 0
.product__variation-input
  display flex
  align-items center
  margin-bottom 5px
  input
    margin-right 15px
.product__variation-size
  display: flex;
  align-items center
  position relative
  font-size 12px
  @media only screen and (min-width: xs)
    font-size baseSize
.product__variation-choice.accent
  text-transform: uppercase;
  border: 1px solid accentColor;
  color: accentColor;
  font-family subtitleFont