.woocommerce-info
  padding 15px 0
  text-align center
  width: 100%;
  @media only screen and (min-width: navigationBreakPoint)
    width calc(100% - 300px)
    padding 35px 50px 50px 0
.woocommerce-Price-currencySymbol
  padding-left 0.3em