.breadcrumb
  text-transform: uppercase;
  margin: 20px 0 0;
  font-size: 9px;
  flex-wrap wrap
  @media only screen and (min-width: xs)
    margin: 20px 15px 0;
    font-size: 13px;
  @media only screen and (min-width: navigationBreakPoint)
    margin: 20px 40px 0;
    font-size: baseSize;