extends ../layouts/default.pug

block site__content
  h1.title Unique
  .description Износостойкость ля-ля-ля
  .listing
    .listing__item(data-item="1")
      img.listing__foto(src='assets/images/unique01.jpg' loading="lazy" alt="Студия авторской мебели WheelHouse")
      .listing__title имя 1
    .listing__item(data-item="2")
      img.listing__foto(src='assets/images/unique02.jpg' loading="lazy" alt="Студия авторской мебели WheelHouse")
      .listing__title имя 2
    .listing__item(data-item="3")
      img.listing__foto(src='assets/images/unique03.jpg' loading="lazy" alt="Студия авторской мебели WheelHouse")
      .listing__title имя 3
    .listing__item(data-item="4")
      img.listing__foto(src='assets/images/unique04.jpg' loading="lazy" alt="Студия авторской мебели WheelHouse")
      .listing__title имя 4
    .listing__item(data-item="5")
      img.listing__foto(src='assets/images/unique05.jpg' loading="lazy" alt="Студия авторской мебели WheelHouse")
      .listing__title имя 5
    .listing__item(data-item="6")
      img.listing__foto(src='assets/images/unique06.jpg' loading="lazy" alt="Студия авторской мебели WheelHouse")
      .listing__title имя 6
    .listing__item(data-item="7")
      img.listing__foto(src='assets/images/unique07.jpg' loading="lazy" alt="Студия авторской мебели WheelHouse")
      .listing__title имя 7
    .listing__item(data-item="8")
      img.listing__foto(src='assets/images/unique08.jpg' loading="lazy" alt="Студия авторской мебели WheelHouse")
      .listing__title имя 8
    .listing__item(data-item="9")
      img.listing__foto(src='assets/images/unique09.jpg' loading="lazy" alt="Студия авторской мебели WheelHouse")
      .listing__title имя 9
    .listing__item(data-item="10")
      img.listing__foto(src='assets/images/unique10.jpg' loading="lazy" alt="Студия авторской мебели WheelHouse")
      .listing__title имя 10
    .listing__item(data-item="11")
      img.listing__foto(src='assets/images/unique11.jpg' loading="lazy" alt="Студия авторской мебели WheelHouse")
      .listing__title имя 11
    .listing__popup.hidden
      .listing__close &times;
      .listing__arrow-left &laquo;
      .listing__arrow-right &raquo;
      .listing__popup-text
        .listing__popup-title
        .listing__popup-description
      .listing__popup-foto
        img(src='' alt="Студия авторской мебели WheelHouse")
  