extends ../layouts/default.pug

block site__content
  .listing
    .partner
      picture
        source(srcset='assets/images/p/1.png' type='image/webp' alt="Студия авторской мебели WheelHouse")
        img(src='assets/images/unique01.jpg' loading="lazy" alt="Студия авторской мебели WheelHouse")
    a(href="#").partner
      picture
        source(srcset='assets/images/p/2.png' type='image/webp' alt="Студия авторской мебели WheelHouse")
        img(src='assets/images/p/2.png' loading="lazy" alt="Студия авторской мебели WheelHouse")
    .partner
      .partner__foto
        picture
          source(srcset='assets/images/p/3.png' type='image/webp' alt="Студия авторской мебели WheelHouse")
          img(src='assets/images/unique01.jpg' loading="lazy" alt="Студия авторской мебели WheelHouse")
    .partner
      .partner__foto
        picture
          source(srcset='assets/images/p/4.png' type='image/webp' alt="Студия авторской мебели WheelHouse")
          img(src='assets/images/unique01.jpg' loading="lazy" alt="Студия авторской мебели WheelHouse")
      .partner__title Студия авторской мебели WheelHouse
    .partner
      .partner__foto
        picture
          source(srcset='assets/images/p/5.png' type='image/webp' alt="Студия авторской мебели WheelHouse")
          img(src='assets/images/unique01.jpg' loading="lazy" alt="Студия авторской мебели WheelHouse")
      .partner__title Студия авторской мебели WheelHouse
    .partner
      .partner__foto
        picture
          source(srcset='assets/images/p/6.png' type='image/webp' alt="Студия авторской мебели WheelHouse")
          img(src='assets/images/unique01.jpg' loading="lazy" alt="Студия авторской мебели WheelHouse")
      .partner__title Студия авторской мебели WheelHouse
    .partner
      .partner__foto
        picture
          source(srcset='assets/images/p/7.png' type='image/webp' alt="Студия авторской мебели WheelHouse")
          img(src='assets/images/unique01.jpg' loading="lazy" alt="Студия авторской мебели WheelHouse")
      .partner__title Студия авторской мебели WheelHouse
    .partner
      .partner__foto
        picture
          source(srcset='assets/images/p/8.png' type='image/webp' alt="Студия авторской мебели WheelHouse")
          img(src='assets/images/unique01.jpg' loading="lazy" alt="Студия авторской мебели WheelHouse")
      .partner__title Студия авторской мебели WheelHouse