.subtitle
  font-size xsSize
  padding 15px 0 0 15px
  margin 0
  font-family subtitleFont
  @media only screen and (min-width: xs)
    font-size sSize
  @media only screen and (min-width: sm)
    font-size baseSize
  @media only screen and (min-width: md)
    font-size subtitleSize
  @media only screen and (min-width: lg)
    font-size titleSize
    padding 15px 0 0