.title
  color accentColor
  font-size subtitleSize
  padding 15px 0 0 15px
  margin 0
  text-transform uppercase
  font-family titleFont
  @media only screen and (min-width: xs)
    font-size titleSize
  @media only screen and (min-width: lg)
    padding 15px 0 0