.submenu__box
  margin-right 15px
@media only screen and (min-width: md)
  .submenu__box:nth-child(1)
    width calc(45% - 15px)
  .submenu__box:nth-child(2)
    width calc(35% - 15px)
  .submenu__box:nth-child(3)
    width calc(20% - 15px)