.body
  background-color lightColor
  color baseColor
  font-family baseFont
  font-size baseSize
  height 100%
  line-height lineHeight
  margin 0 auto
  padding 0
  overflow-x hidden
  overflow-y auto