.body
  background: lightColor
  color baseColor
  font-family baseFont
  font-size baseSize
  height 100%
  width 100%
  position fixed
  overflow hidden
  line-height lineHeight
  margin 0 auto
  padding 0 
  @media only screen and (min-width: 1921px),(min-height: 1081px)
    background: repeating-linear-gradient(180deg, #fff, #fff 10px, #ADACAC 10px, #ADACAC 20px);
    