@font-face
  font-family Geometria Regular
  src url('../fonts/geometria-regular.eot')
  src url('../fonts/geometria-regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/geometria-regular.woff2') format('woff2'),
      url('../fonts/geometria-regular.woff') format('woff'),
      url('../fonts/geometria-regular.ttf') format('truetype')
  font-style normal
  font-weight normal
  font-display fallback
@font-face
  font-family Geometria Italic
  src url('../fonts/geometria-italic.eot')
  src url('../fonts/geometria-italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/geometria-italic.woff2') format('woff2'),
      url('../fonts/geometria-italic.woff') format('woff'),
      url('../fonts/geometria-italic.ttf') format('truetype')
  font-style normal
  font-weight normal
  font-display fallback
@font-face
  font-family Geometria Medium
  src url('../fonts/geometria-medium.eot')
  src url('../fonts/geometria-medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/geometria-medium.woff2') format('woff2'),
      url('../fonts/geometria-medium.woff') format('woff'),
      url('../fonts/geometria-medium.ttf') format('truetype')
  font-style normal
  font-weight normal
  font-display fallback
@font-face
  font-family Geometria Bold
  src url('../fonts/geometria-bold.eot')
  src url('../fonts/geometria-bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/geometria-bold.woff2') format('woff2'),
      url('../fonts/geometria-bold.woff') format('woff'),
      url('../fonts/geometria-bold.ttf') format('truetype')
  font-style normal
  font-weight normal
  font-display fallback
@font-face
  font-family Geometria Bold Italic
  src url('../fonts/geometria-bolditalic.eot')
  src url('../fonts/geometria-bolditalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/geometria-bolditalic.woff2') format('woff2'),
      url('../fonts/geometria-bolditalic.woff') format('woff'),
      url('../fonts/geometria-bolditalic.ttf') format('truetype')
  font-style normal
  font-weight normal
  font-display fallback
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?loh7v8');
  src:  url('../fonts/icomoon.eot?loh7v8#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?loh7v8') format('truetype'),
    url('../fonts/icomoon.woff?loh7v8') format('woff'),
    url('../fonts/icomoon.svg?loh7v8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-shopping-cart:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e901";
}
.icon-phone:before {
  content: "\e904";
}
.icon-facebook-official:before {
  content: "\e903";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-user:before {
  content: "\e900";
}