.test
  border 1px solid red
:after
  box-sizing border-box
:before
  box-sizing border-box
*
  box-sizing border-box
a
  color baseColor
  outline 0
  text-decoration none
  &:active
    color baseColor
    outline 0
    text-decoration none
  &:focus
    color baseColor
    outline 0
    text-decoration none
  &:hover
    color baseColor
    outline 0
    text-decoration none
  img
    border 0
article
	display block
aside
	display block
audio
	display inline-block
	vertical-align baseline
  &:not([controls])
    display none
    height 0
b
  font-weight 600
blockquote
  quotes none
  &:after
    content ''
    content none
  &:before
    content ''
    content none
button
	-webkit-appearance button
	cursor pointer
canvas
	display inline-block
	vertical-align baseline
caption
  font-weight normal
  text-align left
  vertical-align middle
code
  font-family monospace
details
	display block
dfn
  font-style italic
figcaption
	display block
figure
	display block
footer
	display block
em
  font-family baseItalicFont
  font-style normal
em
  strong
   font-family titleItalicFont
strong
  em
   font-family titleItalicFont
h1
  font-weight 400
h2
  font-weight 400
h3
  font-weight 400
h4
  font-weight 400
h5
  font-weight 400
h6
  font-weight 400
header
	display flex
html
  height 100%
  box-sizing border-box
i
  font-style italic
img
  border 0
  max-width 100%
  height auto
input[type='button']
	-webkit-appearance button
	cursor pointer
input[type='reset']
	-webkit-appearance button
	cursor pointer
input[type='submit']
	-webkit-appearance button
	cursor pointer
kbd
  font-family monospace
main
	display block
menu
	display block
nav
	display flex
ol
  list-style-type none
  margin 0
  padding 0 0 0 20px
p
  margin 0 0 10px
pre
  font-family monospace
progress
	display inline-block
	vertical-align baseline
q
  quotes none
  &:after
    content ''
    content none
  &:before
    content ''
    content none
samp
  font-family monospace
section
	display flex
strong
    font-family titleFont
    font-weight normal
summary
	display block
table
	border-collapse collapse
  border-spacing 0
td
  vertical-align middle
th
  vertical-align middle
ul
  list-style-type disc
  margin 0
  padding 0 0 0 20px
video
	display inline-block
	vertical-align baseline