// Fonts
baseFont = 'Geometria Regular', sans-serif;
baseItalicFont = 'Geometria Italic', sans-serif;
subtitleFont = 'Geometria Medium', sans-serif;
titleFont = 'Geometria Bold', sans-serif;
titleItalicFont = 'Geometria Bold Italic', sans-serif;
//addFont = 'Montserrat', sans-serif;

// Fonts Size
titleSize = 20px;//23
subtitleSize = 18px;
baseSize = 15px;

lineHeight = 1.2

// Colors
baseColor = #5A5A5A
lightColor = #FFFFFF
themeColor = #ABB2CC
iconColor = #161C5A
accentColor = #627597
headerColor = #CCD1E5

// Height & width
containerWidth = 1200px
headerHeight = 50px
siteMinWidth = 320px
siteMaxWidth = 1280px

// Breakpoints
xs = 481px
sm = 768px
md = 992px
lg = 1200px
big = 1367px
navigationBreakPoint = md

// Overlays
darkOverlay = rgba(0, 0, 0, 0.05)
lightOverlay = rgba(255, 255, 255, 0.95)
popupOverlay = rgba(255, 255, 255, 0.85)
themeOverlay = rgba(171, 178, 204, 0.7)
themeDarkOverlay = rgba(171, 178, 204, 0.85)