// Fonts
baseFont = 'Geometria Regular', sans-serif;
baseItalicFont = 'Geometria Italic', sans-serif;
subtitleFont = 'Geometria Medium', sans-serif;
titleFont = 'Geometria Bold', sans-serif;
titleItalicFont = 'Geometria Bold Italic', sans-serif;
//addFont = 'Montserrat', sans-serif;

// Fonts Size
titleSize = 28px;
subtitleSize = 20px;
baseSize = 18px;
sSize = 16px;
xsSize = 14px;
xxsSize = 12px;

lineHeight = 1.2

// Colors
baseColor = #000
lightColor = #FFFFFF
themeColor = #6B9AB9

// Height & width
containerWidth = 1200px
headerHeight = 50px
siteMinWidth = 320px
siteMaxWidth = 1920px

// Breakpoints
xs = 481px
sm = 768px
md = 992px
lg = 1200px
navigationBreakPoint = sm

// Overlays
darkOverlay = rgba(0, 0, 0, 0.55)
lightOverlay = rgba(255, 255, 255, 0.8)
themeOverlay = rgba(11, 127, 197, 0.8)