.content__box
  display flex
  flex-direction column
  align-items center
  position relative
  @media only screen and (min-width: navigationBreakPoint)
   flex-direction row
   align-items flex-start