.filter__call
  cursor pointer
  margin 15px 15px 0
  border: 1px solid themeColor;
  padding 15px
  text-align center
  width: 200px
  font-size 12px
  padding 10px
  border-radius 15px
  @media only screen and (min-width: xs)
      font-size baseSize
      padding 15px