.filter
  width 300px
  padding 15px
  position: fixed;
  left: 0;
  top: 70px;
  bottom: 0;
  z-index: 1;
  overflow-x: auto;
  background lightOverlay
  @media only screen and (min-width: navigationBreakPoint)
    padding 20px 0 50px 50px
    position relative
    z-index 0
    top: 0