.filter__show
  margin 45px auto
  cursor pointer
  border: 1px solid themeColor;
  padding 15px
  text-align center
  width: 200px
  border-radius 15px
  color accentColor
  text-transform uppercase
  font-family subtitleFont