.popup__exit
  position absolute
  top -15px
  right -15px
  background iconColor
  color lightColor
  width 30px
  height 30px
  border-radius 50%
  display flex
  justify-content center
  align-items center
  cursor pointer
  color headerColor
  font-size 30px