.site
  display flex
  flex-direction column
  height 100%
  max-width siteMaxWidth
  margin 0 auto
  padding 20px
  min-width siteMinWidth
  position relative
  @media only screen and (min-width: navigationBreakPoint)
    padding 0