.contacts__text
  margin-bottom 30px
  a
    text-decoration underline
  @media only screen and (min-width: sm)
    padding 15px
    position absolute
    width 300px
    top 15px
    right 15px
    bottom 15px
    background themeDarkOverlay
    color lightColor
    border-radius 15px
    display flex
    flex-direction column
    justify-content space-around
    margin-bottom auto
    a
      color lightColor
  @media only screen and (min-width: md)
    padding 30px
    width 450px
    top 45px
    right 45px
    bottom 45px