.cart__title
  p
    font-size subtitleSize
    padding 15px 0 0
    margin 0
    text-transform uppercase
    font-family titleFont
  a
    font-size subtitleSize
    padding 15px 0 0
    margin 0
    text-transform uppercase
    font-family titleFont
  a:hover
    text-decoration underline