.cart__title
  a
    color accentColor
    font-size subtitleSize
    padding 15px 0 0
    margin 0
    text-transform uppercase
    font-family titleFont
  a:hover
    color accentColor
    text-decoration underline