.cart__item
  display flex
  padding 5px
  align-items center
  flex-direction column
  @media only screen and (min-width: sm)
    padding 15px
  @media only screen and (min-width: xs)
    flex-direction row