.main
  position relative
  height calc(100vh - 225px)
  max-height 700px
  overflow hidden
  @media only screen and (min-width: 322px)
    height calc(100vh - 210px)
  @media only screen and (min-width: 346px)
    height calc(100vh - 185px)
  @media only screen and (min-width: 506px)
    height calc(100vh - 165px)
  @media only screen and (min-width: 843px)
    height calc(100vh - 140px)
  @media only screen and (min-width: navigationBreakPoint)
    height calc(100vh - 150px)