.main__name
  position absolute
  bottom 10vh
  left 15px
  right 15px
  font-family subtitleFont
  @media only screen and (min-width: xs)
    left 50px
    right 50px
    max-width calc(100vw - 150px)
  @media only screen and (min-width: md)
    left 100px
    right 150px
    max-width calc(100vw - 350px)
  @media only screen and (min-width: lg)
    left 10vw
    right auto
    bottom 5vh
    max-width 70vw