.main__name
  position absolute
  top 0
  right 0
  left 0
  display flex
  flex-direction column
  align-items center
  @media only screen and (min-width: xs)
    top 20px
  @media only screen and (min-width: big)
    top 40px