header.site__header.header
  a.custom-logo-link(href="#")
    img.custom-logo(src='assets/images/logo-black.png' loading="lazy" alt="Студия авторской мебели WheelHouse")
  include ../hamburger/hamburger.pug
  .header__call.hidden_type_min-md(data-popup="callback")
    i.fa.fa-phone.fa-lg(aria-hidden='true')
    span Oбратная связь
  a.header__contact.hidden_type_min-md(href="tel:+79299758819") +7 (929) 975-88-19
  a.header__icon.hidden_type_max-md(href="#")
    i.fa.fa-facebook-official(aria-hidden='true')
  a.header__icon.hidden_type_max-md(href="#")
    i.fa.fa-instagram(aria-hidden='true')
  .header__icon.hidden_type_max-md(data-popup="callback")
    i.fa.fa-phone(aria-hidden='true')
  form.header__form#form-search
    input(type="search")
  .header__icon#icon-search
    i.fa.fa-search(aria-hidden='true')
  a.header__icon(href="#")
    i.fa.fa-shopping-cart(aria-hidden='true')
  a.header__icon(href="#")
    i.fa.fa-user(aria-hidden='true')
include ../navigation/navigation.pug