header.site__header.header
  a.custom-logo-link(href="#")
    img.custom-logo(src='assets/images/logo-black.png' loading="lazy" alt="Студия авторской мебели WheelHouse")
  include ../hamburger/hamburger.pug
  .header__call.hidden_type_min-md(data-popup="callback")
    span.icon-phone
    span Oбратная связь
  a.header__contact.hidden_type_min-md(href="tel:+79299758819") +7 (929) 975-88-19
  a.header__icon.hidden_type_max-md(href="#")
    span.icon-facebook-official
  a.header__icon.hidden_type_max-md(href="#")
    span.icon-instagram
  .header__icon.hidden_type_max-md(data-popup="callback")
    span.icon-phone
  form.header__form#form-search
    input(type="search")
  .header__icon#icon-search
    span.icon-search
  a.header__icon(href="#")
    span.icon-shopping-cart
  a.header__icon(href="#")
    span.icon-user
include ../navigation/navigation.pug