header.site__header.header
  a(href="#")
    picture
      source(srcset='assets/images/logo.webp' type='image/webp' alt="Студия авторской мебели WheelHouse")
      img.header__logo(src='assets/images/logo.png' loading="lazy" alt="Студия авторской мебели WheelHouse")
  include ../navigation/navigation.pug