.cloth__popup
  position fixed
  transform translate(-50%,-50%);
  top 50%
  left 50%
  z-index 2
  background themeDarkOverlay
  padding 30px
  text-align center
  color lightColor
  border-radius 15px
.cloth__popup-title
  text-transform uppercase
  font-family subtitleFont
  margin-bottom 30px
  font-size titleSize
.cloth__button
  border 1px solid lightColor
  border-radius 15px
  padding 10px 15px
  margin 15px 0
  font-size subtitleSize
  font-family subtitleFont
  cursor pointer
  background: transparent;
  color lightColor
  width 100%