.cloth__color
  height 150px
  width 100px
  background-position: center;
  background-size: cover;
  .listing__title
    text-transform none
    color accentColor
.cloth__color[data-color="white"]
  background-image url(../images/color_01_white.jpg)
.cloth__color[data-color="neutral"]
  background-image url(../images/color_02_neutral.jpg)
.cloth__color[data-color="gray"]
  background-image url(../images/color_03_gray.jpg)
.cloth__color[data-color="black"]
  background-image url(../images/color_04_black.jpg)
.cloth__color[data-color="red"]
  background-image url(../images/color_05_red.jpg)
.cloth__color[data-color="orange"]
  background-image url(../images/color_06_orange.jpg)
.cloth__color[data-color="yellow"]
  background-image url(../images/color_07_yellow.jpg)
.cloth__color[data-color="green"]
  background-image url(../images/color_08_green.jpg)
.cloth__color[data-color="aqua"]
  background-image url(../images/color_09_aqua.jpg)
.cloth__color[data-color="brown"]
  background-image url(../images/color_10_brown.jpg)
.cloth__color[data-color="blue"]
  background-image url(../images/color_11_blue.jpg)
.cloth__color[data-color="purple"]
  background-image url(../images/color_12_purple.jpg)
.cloth__color[data-color="lilac"]
  background-image url(../images/color_13_lilac.jpg)
.cloth__color[data-color="turquoise"]
  background-image url(../images/color_14_turquoise.jpg)
.cloth__color[data-color="pink"]
  background-image url(../images/color_15_pink.jpg)