.cloth__item
  position relative
  width 265px
  height 265px
  overflow hidden
  border-radius 15px
  display flex
  color baseColor
  cursor pointer
  margin 5px
  .listing__foto
    width auto
    height auto