.shop__button
  display flex
  justify-content center
  align-items center
  a
    color lightColor
    padding 15px
    border-radius 15px
    border: 1px solid lightColor
    font-size subtitleSize
    width 100%
    max-width 320px
    font-family baseFont
    text-align center
  a:hover
    color lightColor
    font-family subtitleFont
    text-decoration none!important