.payment_box
  display none!important
.woocommerce-info
  display none
.woocommerce-NoticeGroup-checkout
  width calc(100% - 30px)  
.select2
  color: baseColor;
  font-family: 'Geometria Regular',sans-serif;
  padding: 5px 0;
  border-top: none!important
  border-left none!important
  border-right none!important
  border-bottom: 1px solid themeColor!important
  border-radius 0!important
  margin: 5px 0 !important
  width: 100%;
  background lightColor
.select2-selection
  border: none!important
  outline 0!important
  border-radius 0!important
  &:active
    outline 0!important
    border none!important
  &:focus
    outline 0!important
    border none!important
  &:hover
    outline 0!important
    border none!important
.woocommerce-additional-fields
  h3
    display none
[name=calc_shipping]
  border: 1px solid lightColor;
  padding: 10px;
  font-size: 16px;
  border-radius: 15px;
  width: 100%;
  background: lightColor
.woocommerce-checkout #payment ul.payment_methods
  border-bottom: 1px solid themeColor;
  margin: 0 0 25px;
  padding: 5px 0 20px;
.account__table
  .order-total
    display none
    @media only screen and (min-width: sm)
      display table-cell;
  .order-actions   
    display none
    @media only screen and (min-width: xs)
      display table-cell;
  .order-status  
    display none
    @media only screen and (min-width: 380px)
      display table-cell;
.woocommerce-MyAccount-navigation
  justify-content flex-end
  ul
    margin -20px -15px 0 0
.lost_password
  text-align center