.header__contact
  width calc(100% - 35px)
  margin-bottom 15px
  text-align right
  color lightColor
  @media only screen and (min-width: xs)
    width calc(50% - 17.5px)
  @media only screen and (min-width: sm)
    margin-right 50px
    width auto
    margin-bottom 0
.header__contact:hover
.header__contact:active
.header__contact:focus
  color lightColor