.header__icon
  background iconColor
  height 33px
  width 33px
  border-radius 50%
  margin-left 10px
  cursor pointer
  display flex
  justify-content center
  align-items center
  color themeColor
  span
    font-size 21px
    line-height 0
.header__icon.active
  border-bottom-left-radius 0
  border-top-left-radius 0
.header__icon:hover
.header__icon:active
.header__icon:focus
  color lightColor