.spinner
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: calc(100vh - 150px);
  min-width: 80px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  background-image: url(/wp-content/themes/questsight/assets/images/126.gif);
  background-size: 80px;