.footer__call
  text-transform uppercase
  cursor pointer
  display flex
  align-items center
  font-family subtitleFont
  .icon-phone
    border 2px solid headerColor
    border-radius 50%
    width 40px
    height 40px
    display flex
    justify-content center
    align-items center
    margin-right 5px
    font-size 21px
  span
    display none
    @media only screen and (min-width: sm)
      display inline-block
.footer__call:hover
.footer__call:active
.footer__call:focus
  color lightColor
  .icon-phone
    border 1px solid lightColor