.footer
  background themeColor
  width 100%
  display flex
  flex-wrap wrap
  justify-content space-between
  align-items center
  color lightColor
  padding 10px
  border-radius 15px
  @media only screen and (min-width: navigationBreakPoint)
    padding 15px 75px
    border-radius none
    height 100px
    border-radius 0