.footer__social
  cursor pointer
  display flex
  align-items center
  font-family subtitleFont
  color headerColor
  i
    display flex
    justify-content center
    align-items center
    margin-right 10px
  span
    font-size 14px
    display none
    @media only screen and (min-width: sm)
      display inline-block
.footer__social:hover
.footer__social:active
.footer__social:focus
  color lightColor