.listing__close
  position absolute
  top -25px
  right -5px
  cursor pointer
  z-index 1
  font-size: 50px;
  color #B2B4B3
  @media only screen and (min-width: sm)
    top 0
    right 10px
.listing__arrow-left
  position absolute
  bottom calc(50% - 20px)
  left -15px
  cursor pointer
  z-index 1
  font-size: 50px;
  color #B2B4B3
  font-size 50px
  cursor pointer
  z-index 1
  @media only screen and (min-width: sm)
    left 10px
.listing__arrow-right
  position absolute
  bottom calc(50% - 20px)
  right -15px
  cursor pointer
  z-index 1
  font-size: 50px;
  color #B2B4B3
  font-size 50px
  cursor pointer
  @media only screen and (min-width: sm)
    right 10px