.listing__item
  position relative
  width 265px
  overflow hidden
  border-radius 15px
  display flex
  color baseColor
  cursor pointer
  max-width calc(50% - 10px)
  margin 5px
  @media only screen and (min-width: sm)
    max-width calc(50% - 30px)
    margin 15px
  &:hover
    font-family subtitleFont
    .listing__title
      text-decoration underline
    .flip__back
      font-family baseFont
[data-size="big"]
  .listing__item
    max-width none
    @media only screen and (min-width: xs)
      max-width 450px
      width calc(50% - 10px)
    @media only screen and (min-width: sm)
      width calc(50% - 30px)
[data-type="portfolio"]
  .listing__item
    max-width 100%
    width auto 
    @media only screen and (min-width: sm)
      max-width none
    img
      height 300px
      width auto
      max-width 100%
[data-type="photogallery"]
  .listing__item
    margin: 5px;
    flex-shrink: 0;
    width 200px
    cursor auto
.listing__item[data-konfigurator="konfigurator-detskie-krovati"]:before
  position: absolute;
  content: "Создать свою кроватку\A__________________________\A\AКонфигуратор WHEELHOUSE";
  white-space: pre;
  top: 50%;
  left: 0;
  right 0
  transform: translate(0, -50%);
  text-align: center;
  z-index 1
  color #fff
  font-size 8px
  line-height: 1;
  @media only screen and (min-width: xs)
      font-size 11px
      line-height: 1.2;
  @media only screen and (min-width: sm)
      font-size 13px
.listing__item[data-konfigurator="konfigurator-detskie-krovati"]:after
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6)
.listing__item[data-konfigurator="konfigurator-divany"]:before
  position: absolute;
  content: "Создать свой диван\A__________________________\A\AКонфигуратор WHEELHOUSE";
  white-space: pre;
  top: 50%;
  left: 0;
  right 0
  transform: translate(0, -50%);
  text-align: center;
  z-index 1
  color #fff
  font-size 8px
  line-height: 1;
  @media only screen and (min-width: xs)
      font-size 11px
      line-height: 1.2;
  @media only screen and (min-width: sm)
      font-size 13px
.listing__item[data-konfigurator="konfigurator-divany"]:after
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6)
.listing__item[data-konfigurator="konfigurator-krovati"]:before
  position: absolute;
  content: "Создать свою кровать\A__________________________\A\AКонфигуратор WHEELHOUSE";
  white-space: pre;
  top: 50%;
  left: 0;
  right 0
  transform: translate(0, -50%);
  text-align: center;
  z-index 1
  color #fff
  font-size 8px
  line-height: 1;
  @media only screen and (min-width: xs)
      font-size 11px
      line-height: 1.2;
  @media only screen and (min-width: sm)
      font-size 13px
.listing__item[data-konfigurator="konfigurator-krovati"]:after
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6)
#result-cloth
  .listing__item
    max-width none
    height 265px
    overflow hidden
    @media only screen and (min-width: xs)
      none
    @media only screen and (min-width: sm)
      max-width none
    .listing__foto
      width auto
      height auto
  