.listing
  display flex
  justify-content center
  align-items: flex-start;
  flex-wrap wrap
  padding 15px 0
  position relative
  @media only screen and (min-width: navigationBreakPoint)
    padding 35px 50px 50px
.listing[data-flip='flip']
  align-items: stretch;
.listing[data-fixed='fixed']
  align-items baseline
.listing[data-box='box']
  padding 15px 0
  width: 100%;
  @media only screen and (min-width: navigationBreakPoint)
    width calc(100% - 300px)
    justify-content flex-start
    align-items: flex-start;
    padding 35px 50px 50px 0
.listing[data-type="photogallery"]
  flex-wrap: nowrap;
  padding: 0;
  justify-content flex-start
  overflow: scroll;